@use '../abstracts/vars';
@use '../abstracts/mixins';
@use '../abstracts/media-queries';

.text-mostaza {
    @include mixins.set-color(vars.$clr-mostaza-001);
}

.text-black {
    @include mixins.set-color(vars.$clr-negro-001);
}

.text-white {
    @include mixins.set-color(vars.$clr-white);
}

.forms-link-hl {
    @include mixins.set-color(vars.$clr-verde-002);
}

.title-sm2{
    @include mixins.set-fonts(vars.$ff, vars.$fw-bold, vars.$fs-rg2);
}

.title-sm3{
    @include mixins.set-fonts(vars.$ff, vars.$fw-bold, vars.$fs-rg1);
}

.title-md0{
    @include mixins.set-fonts(vars.$ff, vars.$fw-semibold, vars.$fs-md1);
}

.title-md1{
    @include mixins.set-fonts(vars.$ff, vars.$fw-semibold, vars.$fs-md1, vars.$clr-white);
}

.title-md2{
    @include mixins.set-fonts(vars.$ff, vars.$fw-light, vars.$fs-md2);
}

.title-md3{
    @include mixins.set-fonts(vars.$ff, vars.$fw-med, vars.$fs-md3);
}

.title-mdxl1{
    @include mixins.set-fonts(vars.$ff, vars.$fw-reg, vars.$fs-lg, vars.$clr-white);
}

.title-mdxl2{
    @include mixins.set-fonts(vars.$ff, vars.$fw-bold, vars.$fs-lg);
}

.title-mdxl3{
    @include mixins.set-fonts(vars.$ff, vars.$fw-extrabold, vars.$fs-lg);
}

.title-lg{
    @include mixins.set-fonts(vars.$ff, vars.$fw-bold, vars.$fs-lg1, vars.$clr-white);
}

.title-xlg{
    @include mixins.set-fonts(vars.$ff, vars.$fw-semibold, vars.$fs-xlg1);
}

.title-xlgsb{
    @include mixins.set-fonts(vars.$ff, vars.$fw-med, vars.$fs-xlg2, vars.$clr-mostaza-001);
}

.title-white {
    @include mixins.set-fonts(vars.$ff, vars.$fw-bold, vars.$fs-lg1, vars.$clr-white);
    margin-left: 25px;
}

.title-options {
    @include mixins.set-fonts(vars.$ff, vars.$fw-bold, vars.$fs-lg1, vars.$clr-negro-001);
}

.forms-link {
    @include mixins.set-fonts(vars.$ff, vars.$fw-reg, vars.$fs-rg1, vars.$clr-negro-001);
    text-decoration: none;
}

.subtitle {
    font-size: 1rem;
    line-height: 1.875rem;
}

.subtitle-filter {
    @include mixins.set-color(vars.$clr-verde-002);
    font-size: 1.5625rem;
    font-weight: 600;
}

@media  (min-width: 300px) and (max-width: 540px) {
    .title-xlgsb {
        font-size: 3rem;
    }

    .title-mdxl1 {
        font-size: 1.2rem;
    }

    .title-options {
        font-size: 2.5rem;
        margin-top: 30px;
    }

    .title-lg {
        font-size: 2.5rem;
        margin-top: 6.25rem;
    }
}

@media  (min-width: 541px) and (max-width: 800px) {
    .title-xlgsb {
        font-size: 4rem;
    }

    .title-mdxl1 {
        font-size: 1.5rem;
    }

    .title-options {
        width: 100%;
    }

    .title-lg {
        margin-top: 6.25rem;
    }
}


@media  (min-width: 801px) and (max-width: 1200px) {
    .title-xlgsb {
        font-size: 4rem;
        font-weight: vars.$fw-med;
    }

    .title-mdxl1 {
        font-size: 1.5rem;
    }

    .title-options {
        margin-top: 2rem;
    }

    .title-lg {
        margin-top: 6.25rem;
    }
}