@use '../abstracts/vars';

/* Lines */
@mixin border-line($bsize, $bcolor) {
    border-top: $bsize solid $bcolor;
}
/* lines */

/* Forms */
@mixin bg-base($bgimg) {
    background: url($bgimg) no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

@mixin details-bg-dark-base {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), url(../imgs/bg-base.svg) no-repeat;
    background-size: cover;
    width: 100vw;
    overflow-x: hidden;
}

@mixin bg-dark-base($bg, $w, $h) {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), url($bg) no-repeat;
    background-size: cover;
    width: $w;
    height: $h;
    overflow-x: hidden;
}

@mixin bg-light-base($bg, $w, $h) {
    background: $bg;
    background-size: cover;
    width: $w;
    height: $h;
    overflow-x: hidden;
   
}

@mixin bg-index($bg, $w, $h) {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), url($bg) no-repeat;
    background-size: cover;
    width: $w;
    height: $h;
    overflow-x: hidden;
}
/* Forms */

/* Typography */
@mixin set-color($fcolor) {
    color: $fcolor;
}

@mixin set-fonts($ffamily, $fweight, $fsize, $fcolor:vars.$clr-negro-001) {
    font-family: $ffamily;
    font-weight: $fweight;
    font-size: $fsize;
    color: $fcolor;
}
/* Typography */

/* Buttons */
@mixin btn-base($fsize, $fweight){
    display: inline-flex;
    border-radius: 1.25rem;
    border: none;
    padding: .4375rem 1.25rem;
    font-size: $fsize;
    font-weight: $fweight;
    text-decoration: none;
}

@mixin btn-xl($fsize, $fweight){
    border-radius: 1.25rem;
    padding: .1875rem 1.25rem;
    font-size: $fsize;
    font-weight: $fweight;
    text-decoration: none;
}

@mixin btn-style($color, $bcolor, $bg, $colorhover, $bghover){
    color: $color;
    border-color: $bcolor;
    background: $bg;
    text-decoration: none;

    &:hover {
        color: $colorhover;
        background: $bghover;
        transition: all .2s ease;
        cursor: pointer;
    }
}
/* Buttons */

/* Cards */
@mixin card-base(){
    display: flex;
    justify-content: center;
    margin-top: 18.75rem;
}

@mixin card-bg(){
    width: 13.75rem;
    height: 13.125rem;
    border-radius: 1.875rem;
    background: black;
    position: relative;
}

@mixin card-image(){
    width: 220px;
    height: 150px;
    border-radius: 15px;
    object-fit: cover;
    position: absolute;
}

@mixin card-data(){
    bottom: 0px;
    width: 220px;
    height: 80px;
    border-radius: 15px;
    background: #231F20;
    position: absolute;
}

@mixin card-10($bgcolor){
    height: 22rem;
    width: 22rem;
    border-radius: 1.25rem;
    display: flex;
    background: $bgcolor;
}

@mixin card-img(){
    width: 267px;
    height: 254px;
    z-index: 1;
}

@mixin upload-card(){
    scale: 1.1;
    margin: 3.625rem 3.375rem 4.375rem 3.375rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .15s ease-in-out;
}
@mixin featured-div(){
    display: flex!important;
    justify-content: space-between;
    padding-left: 0!important;
    margin: 0!important;
}

@mixin featured-title(){
    font-size: 18px;
    color: #000;
}

@mixin featured(){
    width: 30px!important;
    height: 30px!important;
    margin-left: 0!important;
    padding: 0!important;
}

@mixin featured-recipe($color, $bgcolor){
    font-size: 14px;
    margin: 0;
    padding: 6px;
    width: 100%;
    position: absolute;
    z-index: 10;
    text-align: center;
    color: $color;
    background: $bgcolor;
    border-radius: 14px 14px 0 0;
}

@mixin card-title(){
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 2px;
    color: #fff;
}

@mixin card-info(){
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 10px 15px 0 15px;
    position: absolute;
}

@mixin card-time(){
    font-size: 12px;
    font-weight: 400;
    color: #fff;
}

@mixin card-likes(){
    text-align: center;
    width: 2.25rem;
}

@mixin hearth($fsize, $color){
    font-size: $fsize;
    font-weight: 400;
    color: $color;
}

@mixin card-options($color){
    font-size: 12px;
    font-weight: 400;
    color: $color;
}

@mixin like-count($fsize){
    font-size: $fsize;
    font-weight: 600;
    margin-top: 3px;
    text-align: center;
    color: #fff;
}

@mixin revision-options(){
    font-size: 2rem;
    width: 100%;
    position: absolute;
    top: 215px;
}

@mixin revision-buttons($color){
    color: $color;
    cursor: pointer;
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900;
    background: none;
    border: none;
    transition: 0.2s ease-in-out;

    &:hover {
        zoom: 1.05;
    }
}

@mixin search-button($color, $hcolor){
    color: $color;
    font-size: 25px;
    background-color: #fff;
    width: 60px;
    height: 2.5rem;
    padding: 5px 30px 5px 5px;
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900;
    border: none;
    border-radius: 0 20px 20px 0;

    &:hover {
        color: $hcolor;
    }
}

@mixin user-icon($fsize){
    font-size: $fsize;
    display: flex!important;

    &:hover {
        color: vars.$clr-white;
    }
}

@mixin edit-recipe($fsize, $color){
    color: $color;
    font-size: $fsize;
}

@mixin delete($fsize, $color, $hcolor){
    font-size: $fsize;
    color: $color;
    cursor: pointer;
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900;
    background: none;
    border: none;

    &:hover {
        color: $hcolor;        
    }
}

@mixin card-labels(){
    bottom: 0;
    padding: 0 0 10px 15px;
    position: absolute;
    display: flex;
    justify-content: space-between;
}

@mixin label($fsize, $color){
    font-size: $fsize;
    font-weight: 500;
    color: $color;
    padding: 2px 5px;
    border-radius: 7px;
    margin-right: 5px;
}

@mixin todas($color){
    background: $color;
}

@mixin category-base($color){
    background: $color;
}

@mixin dificulty($bgcolor){
    background: $bgcolor;
}

@mixin dificulty-filter($bgcolor){
    background: $bgcolor;
}

@mixin delete-ingredient($color, $bgcolor, $hcolor){
    padding: 10px 14px;
    color: $color;
    background: $bgcolor;
    font-weight: 700;
    border: none;
    border-radius: 10px;
    margin-left: 15px;

    &:hover {
        background: $hcolor;
    }
}

@mixin recipe-card(){
    scale: 1.4;
    margin: 80px 0 80px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .1s ease-in;

    &:hover {
        scale: 1.42;
    }
}

@mixin recipe-card-1(){
    scale: 1;
    margin: 25px 0 25px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .1s ease-in;

    &:hover {
        scale: 1.02;
    }
}

@mixin recipe-details-image() {
    width: 450px;
    border-radius: 30px;
}

@mixin details-card-bg() {
    width: 560px;
    height: 375px;
    border-radius: 30px;
    position: relative;
}

@mixin details-image() {
    width: 560px;
    height: 375px;
    border-radius: 30px;
    object-fit: cover;
}

@mixin details-data() {
    width: 560px;
    height: 100px;
}

@mixin details-info() {
    display: flex;
    width: 97%;
    justify-content: space-between;
    position: absolute;
}

@mixin details-labels() {
    display: flex;
    justify-content: space-between;
    position: absolute;
    z-index: 50;
    bottom: -50px;
    zoom: 2;  
}

@mixin details-card {
    height: 540px;
}

@mixin details-text {
    margin-top: -41px;
}

@mixin details-time {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
}
/* Cards */

@mixin space-line {
    color: vars.$clr-negro-001;
    margin-bottom: 0;
    font-weight: 300;
    border-radius: 10px;
}

@mixin w-space-line {
    color: vars.$clr-white;
    font-weight: 100;
    border-radius: 10px;
}

/* Upload Input */

@mixin add-recipes-container {
    margin-top: 6.25rem!important;
}

@mixin file-upload {
    background-color: #fff;
    width: 420px;
    height: 80%;
}

@mixin file-upload-btn {
    width: 100%;
    margin: 0;
    color: #fff;
    background: #1FB264;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #15824B;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;

    &:hover {
        background: #1AA059;
        color: #ffffff;
        transition: all .2s ease;
        cursor: pointer;
    }

    &:active{
        border: 0;
        transition: all .2s ease;
    }
}

@mixin file-upload-content {
    width: 420px;
    height: 420px;
    display: none;
    text-align: center;
    position: relative;
    z-index: 10;
}

@mixin file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 420px;
    height: 420px;
    outline: none;
    opacity: 0;
    cursor: pointer;
}

@mixin file-upload-image {
    height: 420px;
    width: 420px;
    object-fit: cover;
    border-radius: 30px;
}

@mixin image-upload-wrap {
    width: 420px;
    height: 420px;
    border: 3px solid vars.$clr-verde-002;
    border-radius: 30px;
}

@mixin remove-image {
    font-size: 40px;
    color: vars.$clr-white;
    transition: .3s;
    position: absolute;
    top: 30px;
    right: 30px;
    z-index: 50;

    &:hover {
        color: red;
        cursor: pointer;
    }

    &:active {
        border: 0;
        transition: all .2s ease;
    }
}

@mixin drag-text {
    height: 100%;
    text-align: center;

    .drag-text h3 {
        font-weight: 400;
        color: #000;
        padding: 60px 0;
    }
}
/* Upload Input */

/* Input Data Recipe */
@mixin input-data-recipe {
    border: 3px solid vars.$clr-verde-002;
    border-radius: 30px;
    text-align: center;
    margin: 15px 0 15px 0;
}

@mixin input-w-h($w, $h) {
    width: $w;
    height: $h;
}
/* Input Data Recipe */

@mixin nav-ten($bgcolor) {
    background: $bgcolor;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
}

@mixin nav-ten-search($bgcolor) {
    background: $bgcolor;
    width: 100vw;
    height: 68vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 220px 0px 145px 0;
}

@mixin nav-poster {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin poster($w, $h, $bg, $pos) {
    width: $w;
    height: $h;
    background: $bg;
    position: $pos;
}

@mixin img-poster {
    width: 1320px;
    height: 64vh;
    display: flex;
    object-fit: cover;
    border-radius: 1.875rem;
}

@mixin poster-image($w, $h) {
    width: $w;
    height: $h;
    object-fit: cover;
    position: absolute;
}

@mixin poster-bg {
    width: 1320px;
    height: 64vh;
    border-radius: 30px;
    position: relative;
    justify-content: center;
}

@mixin poster-data {
    bottom: 0px;
    width: 660px;
    height: 64vh;
    background: linear-gradient(rgba(252, 252, 252, 0.7), rgba(219, 217, 217, 0.8));
    align-items: center;
    justify-content: center;
    display: grid;
    position: absolute;
    border-radius: 30px 0 0 30px;
}

@mixin poster-info {
    display: flex;
    width: 500px;
    height: 500px;
    padding: 0px 15px 0 15px;
    position: relative;

}

@mixin poster-title {
    font-size: 34px;
    font-weight: 600;
    margin-bottom: 2px;
    color: rgb(0, 0, 0);

}

@mixin poster-description {
    font-size: 16px;
    font-weight: 400;
    color: vars.$clr-negro-001;
    margin-top: 5px;
}

@mixin poster-text {
    height: 300px;
    margin-top: 5rem;
}

@mixin poster-animation-bg {
    width: 1521px;
    height: 590px;
    z-index: 1;

}

@mixin poster-labels {
    right: 11px;
    padding: 0 0 10px 15px;
    z-index: 1;
    margin-top: 3rem;
    position: relative;
    scale: 2.5;
    justify-content: space-between !important;
}

@mixin poster-time {
    color: vars.$clr-negro-001;
    font-size: 24px;
    font-weight: 400;
    justify-content: start !important;

}

@mixin recipe-poster-data {
    color: vars.$clr-negro-001;
}

@mixin container-ld{
    width: 1320px;
    height: 100%;
}

@mixin nav-link {
    color: vars.$clr-negro-001;
    font-size: 20px;

    &:hover {
        color: vars.$clr-white;
    }
}


/* ----------------------------HEADER--------------------------------------- */


/* TOP NAVIGATION */

@mixin header-base {
    position: fixed;
    z-index: 100;
    width: 100%;
}

@mixin topnav {
    background: vars.$clr-mostaza-001;
}

@mixin search-input {
    width: 16rem;
    height: 2.5rem;
    padding-left: 30px;
    text-align: center;
    border-radius: 20px 0 0 20px;
    border: none;
    outline: none
}

@mixin header-options {
    font-weight: vars.$fw-bold!important;
    font-size: 10px;
}

@mixin header-logo {
    width: 6rem;
}

@mixin container-nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin responsive-header {
    display: none;
    scale: 1!important;
}

@mixin profile($w, $br) {
    width: $w;
    border-radius: $br;
}

@mixin profile-text($fw, $fs, $color) {
    font-weight: $fw;
    font-size: $fs;
    color: $color;

}
/* TOP NAVIGATION */

/* Footer */
@mixin footer-item{
    list-style-type: none;
}

@mixin footer-link{
    display: block;
    text-decoration: none;
    color: vars.$clr-negro-001;
    transition: .5s;
}

@mixin footer-image {
    width: 16rem; 
   justify-content: center;
}

@mixin footer-media {
    width: 50px; 
}

@mixin downnav{
    width: 100vw;
    height: 25rem;
    font-weight: vars.$fw-reg;
    font-size: vars.$fs-rg1;
    background: vars.$clr-mostaza-001;
    align-items: center!important;
    justify-content: center;
    z-index: 1;
}

@mixin container-footer{
    width: 100%;
    height: 25rem;
    font-weight: vars.$fw-reg;
    font-size: vars.$fs-rg1;
    background: vars.$clr-mostaza-001;
}

@mixin footer-text{
    color: vars.$clr-negro-001;
    align-items: center!important;
    justify-content: center!important;
    display: flex;
}

@mixin container-creditos{
    display: flex;
    width: 1320px;
    font-weight: vars.$fw-med;
    font-size: vars.$fs-rg1;
    align-items: center!important;
    justify-content: space-between!important; 
}
/* Footer */

/* ---------------------------- Details --------------------------------------- */
@mixin details-container-base {
    width: 79vw;
    height: 100%;
    margin: auto;
}

@mixin border-details {
    height: 70%;
    border: 2px solid vars.$clr-mostaza-001;
    border-radius: 50px;
    margin: 120px 0;
}

@mixin details-text {
    margin-top: 1rem;;
}

@mixin text-container {
    font-size: 16px;
}

@mixin description-text-container {
    font-size: 16px;
    margin: 20px 0;
}

@mixin details-border {
    padding: 50px 230px;
}

/* ---------------------------- Administrador --------------------------------------- */

@mixin user {
    color: vars.$clr-mostaza-001;
    font-size: 6.25rem;
}

@mixin admin {
    color: vars.$clr-white;
    font-weight: 300;
    font-size: 1.875rem;
}

@mixin upload-icon {
    font-size: 1.438rem;
    color: vars.$clr-mostaza-001;
    font-size: 2.8125rem;
}

@mixin nav-options {
    background: vars.$clr-white;
    width: 100vw;
    height: 100vh;
}

@mixin nav-options-admin {
    background: vars.$clr-white;
    width: 100vw;
    height: 100%;
}

@mixin space-line {
    color: vars.$clr-negro-001;
    margin-bottom: 0;
    font-weight: 300;
}

@mixin options {
    font-weight: 500;
    color: vars.$clr-negro-001;
    cursor: pointer;

    &:hover {
        color: vars.$clr-verde-002;
    }
}

@mixin subir-items {
    height: 100%;
    padding-bottom: 6.25rem;
}

@mixin subidos-items {
    height: 100%;
    padding-bottom: 6.25rem;
}

@mixin revision-items {
    height: 100%;
    padding-bottom: 6.25rem;
}

@mixin usuarios-items {
    height: 100%;
    padding-bottom: 6.25rem;
}

@mixin container-base {
    width: 79vw;
    height: 100vh;
    margin: auto;
}

@mixin info-base {
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
}

@mixin login-data {
    width: 29.375rem;
    height: 25.625rem;
    background: vars.$clr-white;
    border-radius: 30px;
}

@mixin text-input {
    box-sizing: border-box;
    width: 21.875rem;
    height: 2.5rem;
    padding: .625rem;
    border: 2px solid vars.$clr-negro-001;
    border-radius: 20px;
}

@mixin text-input {
    box-sizing: border-box;
    width: 21.875rem;
    height: 2.5rem;
    padding: .625rem;
    border: 2px solid vars.$clr-negro-001;
    border-radius: 20px;
}

@mixin register-data {
    width: 29.375rem;
    height: 30rem;
    background: vars.$clr-white;
    border-radius: 1.875rem;
}