@use '../abstracts/vars';
@use '../base/typography';
@use '../abstracts/mixins.scss';
@use '../abstracts/media-queries';

.details-container-base {
    @include mixins.details-container-base;
    @include media-queries.mobile {
        padding-top: 7rem;
        padding-bottom: 2rem;
    }

    @include media-queries.tablet {
        padding-top: 15rem;
        padding-bottom: 2rem;
    }

    @include media-queries.desktop {
        padding-top: 17rem;
        padding-bottom: 2rem;
    }
}

.border-details {
    @include mixins.border-details;
    @include media-queries.all {
        display: none;
        border: none;
        margin-top: 0;
    }
}

.details-text {
    @include mixins.details-text;
    @include media-queries.all {
        font-size: .9375rem
    }
}

.details-time {
    @include mixins.details-time;
}

.text-container {
    @include mixins.text-container;
    @include media-queries.all {
        margin: 0;
        padding: 0;
    }
}

.description-text-container {
    @include mixins.description-text-container;
}

.details-border {
    @include mixins.details-border;
    @include media-queries.all {
        padding: 50px 0;
    }
}

.div-100 {
    width: 100%;
}

.details-card {
    @include media-queries.mobile-s {
        zoom: .5!important;
    }

    @include media-queries.mobile {
        zoom: .6;
    }

    @include media-queries.tablet {
        zoom: .7;
    }

    @include media-queries.desktop {
        zoom: .7;
    }
}

.row-1 {
    @include media-queries.all {
        margin-top: 1.25rem!important;
    }   
}

.data-container {
    @include media-queries.mobile {
        width: 100%!important;
        margin: 0!important;
        padding: 0!important;
    }

    @include media-queries.tablet {
        width: 100%!important;
        margin: 0!important;
        padding: 0!important;
        scale: 1.4;
    }

    @include media-queries.desktop {
        width: 100%!important;
        margin: 0!important;
        padding: 0!important;
        scale: 1.4;
    }
}

.bg-dark-base {
    height: 100vh;
}

.container-base {
    @include media-queries.all {
        height: fit-content!important;
    }
}

.col-md {
    @include media-queries.all {
        width: 100%;
    }
}

.preparation-text {
    @include media-queries.all {
        margin: 0;
    }
}

.bg-light-base {
    @include media-queries.all {
        height: fit-content!important;
        display: flex;
    }
}

.details-data-container {
    @include media-queries.mobile {
        width: 100%;
    }

    @include media-queries.tablet {
        width: 100%;
        padding-top: 4rem;
    }

    @include media-queries.desktop {
        width: 100%;
        padding-top: 4rem;
    }
}