@use '../abstracts/vars';
@use '../base/typography';
@use '../abstracts/mixins.scss';
@use '../abstracts/media-queries';

.footer-item{
    @include mixins.footer-item;
}

.footer-link{
    @include mixins.footer-link;
}

.footer-image {
    @include mixins.footer-image;
    @include media-queries.mobile {
        width: 10rem; 
        justify-content: center;
    }

    @include media-queries.tablet {
        width: 16rem; 
        justify-content: center;
    }
}

.footer-media {
    width: 50px; 
}

.downnav{
    @include mixins.downnav;
    @include media-queries.all {
        display: grid;
        height: auto;
        z-index: 1;
    }
}

.container-footer{
    @include mixins.container-footer;
}

.footer-text{
    @include mixins.footer-text;
    @include media-queries.all {
        font-size: .75rem;
    }
}

.container-creditos{
    @include mixins.container-creditos;
    @include media-queries.all {
        width: auto;
        font-weight: vars.$fw-med;
        font-size: vars.$fs-rg1;
        align-items: center!important;
        justify-content: space-between!important;
    }
}

.mobile-footer {
    @include media-queries.mobile {
        align-items: center!important;
        display: grid!important; 
        justify-content: center!important;
    }

    @include media-queries.tablet {
        align-items: center!important;
        display: grid!important; 
        justify-content: center!important;
        gap: 2rem!important;
    }

    @include media-queries.desktop {
        align-items: center!important;
        display: grid!important; 
        justify-content: center!important;
    }
}

.site {
    @include media-queries.all {
        scale: .9;
    }
}

.creditos {
    @include media-queries.all {
        display: block;
    }
}

.footer-img {
    @include media-queries.all {
        justify-content: center!important;
    }
}