@use '../abstracts/vars';
@use '../base/typography';
@use '../abstracts/mixins.scss';
@use '../abstracts/media-queries';

/*Base*/

.header-base {
  @include mixins.header-base(vars.$clr-mostaza-001);  
}

.navbar {
  @include mixins.navbar-options(70%);
  @include media-queries.navbar {
    width: 100%;
  }
}

.nav-link {
  @include mixins.nav-link;
  @include media-queries.header {
      margin: 0!important;
      display: flex;
      justify-content: center!important;
      align-items: center;
  }
}

/*Logo*/

.navbar-brand {
  @include mixins.navbar-options(12.5rem);
}

/*Dropdowns*/

.dropdown-options {
  @include mixins.dropdown-options;
}

/*Search*/

.search-button {
  @include mixins.search-button;
}

.form-control {
  @include mixins.form-control;
  @include media-queries.header {
    height: 40px;
    font-size: 18px;
    text-align: center;
  }
}

/*User*/

.user-img {
  @include mixins.user-img;
  @include media-queries.header {
    margin: 0 auto 15px auto!important;
  }
}

.user-name {
  @include mixins.set-fonts('Poppins', 500, 25px);
}

.user-dropdown {
  @include mixins.user-dropdown;
  @include media-queries.header {
    position: unset;
    text-align: center;
  }
}

/*Responsive*/

.bars-icon {
  @include mixins.bars-icon;
}

.container-fluid {
  @include media-queries.header {
    display: block!important;
  }
}

.navbar-toggler {
  @include media-queries.header {
    padding: 0;
    line-height: 0;
    border: none;
  }

  &:hover {
    @include media-queries.header {
      outline: none; 
      box-shadow: none;
    }
  }
}

.dropdown-menu {
  @include media-queries.header {
    width: 80px;
    margin: 0 auto 20px auto;
  }
}

.search-container {
  @include media-queries.header {
    margin-bottom: 20px;
  }
}

.user-li {
  @include media-queries.header {
    margin: 0!important;
    display: flex;
    justify-content: center;
  }
}