@use '../abstracts/vars';
@use '../base/typography';
@use '../abstracts/mixins.scss';
@use '../abstracts/media-queries';

.nav-ten {
    @include mixins.nav-ten(vars.$clr-white);
}

.nav-ten2 {
    @include mixins.nav-ten(vars.$clr-white);
}

.nav-ten-search {
    @include mixins.nav-ten-search(vars.$clr-white);
}

.nav-poster {
    @include mixins.nav-poster;
}

.container-recetario {
    height: 120vh;
}

.img-poster {
    @include mixins.img-poster;
}

.poster-image-container {
    @include mixins.poster(100%, 100%, vars.$clr-negro-001, relative);
}

.poster-info-bg {
    @include mixins.poster(40%, 100%, vars.$clr-white, absolute);
}

.poster-image {
    @include mixins.poster-image(100%, 100%);
}

.poster-data {
    @include mixins.poster-data;
}

.recipe-poster-data {
    @include mixins.recipe-poster-data;
}

.recipe-poster-data {
    @include mixins.recipe-poster-data;
}

.poster-bg {
    @include mixins.poster-bg;
}

.poster-info {
    @include mixins.poster-info;
}

.poster-title {
    @include mixins.poster-title;
}

.poster-description {
    @include mixins.poster-description;
}

.poster-text {
    @include mixins.poster-text;
}

.poster-animation-bg {
    @include mixins.poster-animation-bg;
}

.poster-labels {
    @include mixins.poster-labels;
}

.poster-time {
    @include mixins.poster-time;
}

.container-ld {
    @include mixins.container-ld;
}

.nav-link {
    @include mixins.nav-link;
}

.wrapper{
    box-sizing: content-box; 
    background-color: transparent;
    height: 240px;
    padding: 50px 30px;
    display: flex;
    border-radius: 8px;
    box-shadow: 0 20px 25px rgba(0,0,0,0.2);
    margin-bottom: -60px;
}

.words{
    overflow: hidden;
}

span{
    display: block;
    height: 100%;
    padding-left: 10px;
    color: vars.$clr-mostaza-001;
    animation: spin_words 10s infinite;
}

@keyframes spin_words{
    10%{
        transform: translateY(-112%);
    }
    25%{
        transform: translateY(-100%);
    }
    35%{
        transform: translateY(-212%);
    }
    50%{
        transform: translateY(-200%);
    }
    60%{
        transform: translateY(-312%);
    }
    75%{
        transform: translateY(-300%);
    }
    85%{
        transform: translateY(-412%);
    }
    100%{
        transform: translateY(-400%);
    }
}

.blink_me {
    display: inline-block;
    vertical-align: bottom;
    animation: blinker 1s linear infinite;
    animation-delay: -0.5s;
}

.blink_me span {
    float: left;
    overflow: hidden;
    animation: hideShow 6s  infinite;
}

.blink_me span:nth-child(1) {
    animation-delay: -0s;
}

.blink_me span:nth-child(2) {
    animation-delay: -1s;
}

.blink_me span:nth-child(3) {
    animation-delay: -2s;
}

.blink_me span:nth-child(4) {
    animation-delay: -3s;
}

.blink_me span:nth-child(5) {
    animation-delay: -4s;
}

.blink_me span:nth-child(6) {
    animation-delay: -5s;
}

.css-button-sliding-to-left--green {
    min-width: 142px;
    height: 46px;
    color: vars.$clr-verde-001;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    z-index: 0;
    background: vars.$clr-verde-001;
    overflow: hidden;
    border-radius: 2rem;
    color: vars.$clr-negro-001;
  }

  .css-button-sliding-to-left--green:hover {
    color: #fff;
  }

  .css-button-sliding-to-left--green:hover:after {
    width: 100%;
  }
  
  .css-button-sliding-to-left--green:after {
    content: "";
    position: absolute;
    z-index: -1;
    transition: all 0.3s ease;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
   
    background: vars.$clr-terracota-001;
  }

  @keyframes blinker {
    50% {
        opacity: 0;
    }
}

@keyframes hideShow {

    0%,
    16.6%,
    33.33%,
    100% {
        width: 0;
    }

    16.66%,
    33.3% {
        width: auto;
    }
}

@keyframes rotation {


    0% {
        transform: rotate(-15deg);
    }

    50% {

        transform: rotate(0deg);

    }


    100% {
        transform: rotate(-15deg);
    }

}

@keyframes floating {
    0% {
        transform: translateY(opx);
    }

    50% {

        rotate: translateY(-20px);

    }

    100% {
        transform: translateY(0px);
    }
}


@keyframes bounceIn {
    0% {
        transform: scale(1);

    }

    60% {
        transform: scale(1.2);
        opacity: 1;
    }

    100% {
        transform: scale(1);
    }

}

@media  (min-width: 300px) and (max-width: 540px) {

    .wrapper{
        
        height: 160px;
       
    }


    .container-poster {
        zoom: .3;
        scale: .5;
    }
        
   
    

    .nav-ten {
        height: fit-content!important ;
        padding-top: 2rem;
    
    }

    .nav-ten2 {
        height: fit-content!important;
        display: flex;
        padding-top: 2rem;
    }

   

    .btn-green {
        font-size: 40px;
    }

    

    .btn-green-poster2 {
        margin: 10px 0 0 0!important;
    }

    .nav-poster {
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .nav-poster2 {

        width: 100vw;
        height: 135vh;
        
    }

    .container-poste2 {
        height: 100%;
    }

   
}

@media  (min-width: 541px) and (max-width: 800px) {

    .wrapper{
        
        height: 160px;
       
    }


    .container-poster {
        zoom: .3;
        scale: .5;
    }
        
   
    

    .nav-ten {
        height: fit-content!important ;
    
    }

    .nav-ten2 {
        height: fit-content!important;
        display: flex;
    }

   

    .btn-green {
        font-size: 40px;
    }

    

    .btn-green-poster2 {
        margin: 10px 0 0 0!important;
    }

    .nav-poster {
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .nav-poster2 {

        width: 100vw;
        height: 135vh;
        
        
    }

    .container-poste2 {
        height: 100%;
    }

   
}


@media  (min-width: 820px) and (max-width: 1200px) {

    .wrapper{
        
        height: 160px;
       
    }


    .container-poster {
        zoom: .3;
        scale: .5;
    }
        
   
   

    .nav-ten {
        height: fit-content!important ;
        margin: auto;
    
    }

    .nav-ten2 {
        height: fit-content !important;
        display: flex;
        margin: auto;
    }

   

    .btn-green {
        font-size: 40px;
    }

    

    .btn-green-poster2 {
        margin: 10px 0 0 0!important;
    }

    .nav-poster {
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .nav-poster2 {

        width: 100vw;
        height: 135vh;
        
        
    }

    .container-poste2 {
        height: 100%;
    }

   
}