@use '../abstracts/vars';
@use '../base/typography';
@use '../abstracts/mixins.scss';
@use '../abstracts/media-queries';

.login-data {
    @include mixins.login-data;
}

.text-input {
    @include mixins.text-input;
}



@media (max-width: 473px) {
    .login-data {
        width: 330px;
        height: 370px;
    }

    .mv-title {
        font-size: 1.5rem;
    }

    .text-input {
        width: 250px;
        height: 30px;
        margin: 0 40px;
        border: 1.5px solid vars.$clr-negro-001;
        font-size: 13px;
    }

    .btn-green {
        font-size: .8125rem!important;
        padding: 3px 15px;
    }

    .forms-link-mv {
        font-size: 10px;
    }

    .mt-mv1 {
        margin-top: 30px;
    }

    .mt-mv2 {
        margin-top: 40px;
    }

    .mt-mv3 {
        margin-top: 1.25rem!important;
    }
}
