@use '../abstracts/vars';
@use '../base/typography';
@use '../abstracts/mixins.scss';
@use '../abstracts/media-queries';

/* Lines */
    .border-line {
        @include mixins.border-line(.15rem, vars.$clr-negro-001);
    }

    .border-nav-line {
        @include mixins.border-line(.19rem, vars.$clr-verde-001);
    }
/* lines */

/* Forms */
    .bg-base {
        @include mixins.bg-base("../imgs/bg-base.svg");
    }

    .bg-dark-base {
        @include mixins.bg-dark-base("../imgs/bg-base.svg", 100%, 100%);
    }

    .details-bg-dark-base {
        @include mixins.details-bg-dark-base;
    }

    .bg-index {
        background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), url(../imgs/bg-base.svg) no-repeat;
        background-size: cover;
        width: 100vw;
        height: 100vh;
        overflow-x: hidden;
    }
/* Forms */

/* Buttons */
    .btn-green {
        @include mixins.btn-base(vars.$fs-rg2, vars.$fw-semibold);
        @include mixins.btn-style(vars.$clr-negro-001, vars.$clr-verde-001, vars.$clr-verde-001, vars.$clr-white, vars.$clr-terracota-001);
    }

    .btn-green-xl {
        @include mixins.btn-base(vars.$fs-md3, vars.$fw-semibold);
        @include mixins.btn-style(vars.$clr-negro-001, vars.$clr-verde-001, vars.$clr-verde-001, vars.$clr-white, vars.$clr-terracota-001);
    }

    .btn-mostaza {
        @include mixins.btn-base(vars.$fs-rg2, vars.$fw-semibold);
        @include mixins.btn-style(vars.$clr-white, vars.$clr-mostaza-001, vars.$clr-mostaza-001, vars.$clr-white, vars.$clr-mostaza-002);
    }
/* Buttons */

/* Cards */
    .base {
        @include mixins.card-base();
    }

    .card-bg {
        @include mixins.card-bg();
    }

    .card-image {
        @include mixins.card-image();
    }

    .card-data {
        @include mixins.card-data();
    }

    .card-10 {
        @include mixins.card-10(vars.$clr-verde-001);
    }

    .card-img {
        @include mixins.card-img();
    }

    .upload-card {
        @include mixins.upload-card();
    }

    .featured-div {
        @include mixins.featured-div();
    }

    .featured-title {
        @include mixins.featured-title();
    }

    .featured {
        @include mixins.featured();
    }

    .featured-recipe {
        @include mixins.featured-recipe(vars.$clr-white, vars.$clr-verde-002);
    }

    .card-info {
        @include mixins.card-info();
    }

    .card-title {
        @include mixins.card-title();
    }

    .card-time {
        @include mixins.card-time();
    }

    .like:hover {
        color: vars.$clr-rojo-001;
    }

    .card-options {
        @include mixins.card-options(vars.$clr-white);
    }

    .card-likes {
        @include mixins.card-likes();
    }

    .hearth {
        @include mixins.hearth(vars.$fs-md1, vars.$clr-white);
    }

    .hearth-xl {
        @include mixins.hearth(vars.$fs-md3, vars.$clr-white);
    }

    .like-count {
        @include mixins.like-count(vars.$fs-rg1);
    }

    .like-count-xl {
        @include mixins.like-count(vars.$fs-md1);
    }

    .revision-options {
        @include mixins.revision-options();
    }

    .accept {
        margin-right: 5px;
        @include mixins.revision-buttons(vars.$clr-verde-002);
    }

    .decline {
        margin-left: 5px;
        @include mixins.revision-buttons(vars.$clr-rojo-001);
    }

    .edit {
        @include mixins.delete(vars.$fs-md1, vars.$clr-white, vars.$clr-verde-002);
    }

    .delete {
        @include mixins.delete(vars.$fs-md1, vars.$clr-white, vars.$clr-rojo-001);
    }

    .edit-title {
        margin-top: 12.5rem;
    }

    .card-labels {
        @include mixins.card-labels();
    }

    .lbl {
        @include mixins.label(vars.$fs-xsm2, vars.$clr-white);
    }

    .category-base {
        @include mixins.category-base(vars.$clr-terracota-001);
    }

    .todas {
        @include mixins.todas(vars.$clr-terracota-001);
    }

    .facil {
        @include mixins.dificulty(vars.$clr-verde-002);
    }

    .intermedio {
        @include mixins.dificulty(vars.$clr-mostaza-001);
    }

    .avanzado {
        @include mixins.dificulty(vars.$clr-rojo-001);
    }

    .filtro-facil {
        @include mixins.dificulty-filter(vars.$clr-verde-002);
    }

    .filtro-intermedio {
        @include mixins.dificulty-filter(vars.$clr-mostaza-001);
    }

    .filtro-avanzado {
        @include mixins.dificulty-filter(vars.$clr-rojo-001);
    }

    .delete-ingredient {
        @include mixins.delete-ingredient(vars.$clr-white, vars.$clr-rojo-001, vars.$clr-rojo-002);
    }

    .recipe-card {
        @include mixins.recipe-card();
    }

    .recipe-card-1 {
        @include mixins.recipe-card-1();
    }

    .recipe-details-image {
        @include mixins.recipe-details-image();
    }

    .details-card-bg {
        @include mixins.details-card-bg();
    }

    .details-image {
        @include mixins.details-image();
    }

    .details-data {
        @include mixins.details-data();
    }

    .details-info {
        @include mixins.details-info();
    }

    .details-labels {
        @include mixins.details-labels();
    }

    .details-card {
        @include mixins.details-card;
    }

    .details-text {
        @include mixins.details-text;
    }

    .details-text {
        @include mixins.details-time;
    }
/* Cards */

    .space-line {
        @include mixins.space-line;
    }

    .w-space-line {
        @include mixins.w-space-line;
    }

/* Upload Input */

.add-recipes-container {
    @include mixins.add-recipes-container;
}

.file-upload {
    @include mixins.file-upload;
}

.file-upload-btn {
    @include mixins.file-upload-btn;
}

.file-upload-content {
    @include mixins.file-upload-content;
}

.file-upload-input {
    @include mixins.file-upload-input;
}

.image-upload-wrap {
    @include mixins.image-upload-wrap;
}

.image-dropping,
.image-upload-wrap:hover {
    background: #1AA059;
    border-radius: 30px;
}

.file-upload-image {
    @include mixins.file-upload-image;
}

.remove-image {
    @include mixins.remove-image;
}

.drag-text {
    @include mixins.drag-text;
}

/* Input Data Recipe */

.input-data-recipe {
    @include mixins.input-data-recipe();
}

.input-ingredients {
    @include mixins.input-w-h(363px, 40px);
}

.input-s {
    @include mixins.input-w-h(196px, 60px);
}

.input-m {
    @include mixins.input-w-h(418px, 60px);
}

.input-l {
    @include mixins.input-w-h(310px, 60px);
}

.input-xl {
    @include mixins.input-w-h(418px, 150px);
}

.input-2xl {
    @include mixins.input-w-h(650px, 160px);
}

@media (min-width: 300px) and (max-width: 540px) {

    .poster-bg {
        width: 100vw;
        height: 115vh;
        border-radius: 30px;
        position: relative;
        justify-content: center;
    }

    .img-poster {
        width: 100vw;
        height: 65vh;
        object-fit: contain;
        display: flex;
    }

    .poster-data {
        bottom: 0px;
        width: 100vw;
        height: 66vh;
        background: linear-gradient(rgba(252, 252, 252, 0.7), rgba(219, 217, 217, 0.8));
        align-items: center;
        justify-content: center;
        display: grid;
        position: absolute
    }

    .poster-text {
        scale: .7;
    }
}

@media  (min-width: 541px) and (max-width: 800px) {

    .recipe-card {
        scale: 1.2;
        
    }

    .img-poster {
        width: 140vw;
        height: 65vh;
        object-fit: contain;
        display: flex;
    }

    .poster-data {
        bottom: 0px;
        width: 100vw;
        height: 52vh;
        background: linear-gradient(rgba(252, 252, 252, 0.7), rgba(219, 217, 217, 0.8));
    
        align-items: center;
        justify-content: center;
        display: grid;
    
        position: absolute
    }


    .poster-bg {
        width: 100vw;
        height: 115vh;
        border-radius: 30px;
        position: relative;
        justify-content: center;
    }


}

@media  (min-width: 820px) and (max-width: 1200px) {

    .img-poster {
        width: 140vw;
        height: 65vh;
        object-fit: contain;
        display: flex;
    }

    .poster-data {
        bottom: 0px;
        width: 100vw;
        height: 50vh;
        background: linear-gradient(rgba(252, 252, 252, 0.7), rgba(219, 217, 217, 0.8));
    
        align-items: center;
        justify-content: center;
        display: grid;
    
        position: absolute
    }


    .poster-bg {
        width: 100vw;
        height: 115vh;
        border-radius: 30px;
        position: relative;
        justify-content: center;
    }
}

